:root {
  --gutter: 20px;
  background-color: #EB584D;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app>* {
  grid-column: 2 / -2;
}

.app>.full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-template-columns: repeat(10, calc(35% - var(--gutter) * 2));
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  margin-bottom: calc(-.25 * var(--gutter));
  background-color: #EBEBEB;
}

.posters {
  height: 70vh;
  width: 27vw;
  padding-right: 2em;
  border-radius: 10%;
}

.movieData {
  padding-bottom: 20px;
}

.movieData button {
  border-radius: 20px;
  height: 4vh;
  background-color: #EB584D;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1.5, 5fr);
  grid-template-areas:
    "header header header "
    "posterImg posterImg info "
    "posterImg posterImg info "
}

.header {
  grid-area: header;
  text-align: center;
  color: white;
  background: navy;
}

.posterImg {
  grid-area: posterImg;
  height: 70vh;
}

.info {
  grid-area: info;
  padding: 12px;
  background-color: azure;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}